- provide(:title, "Team Members")
%h2.text-center Manager
.table-responsive
  = form_tag(team_leads_users_path, method: :put)  do
    %table.table.table-bordered.table-striped.table-highlight
      %thead
        %th.text-center Employe name
        %th.text-center Select Manager
        %th.text-center Actions
      %tbody
        %tr.text-center
          %td.col-md-4
            %text_field{:for => "sel1"}
              = link_to user_path(@user), target: '_blank' do
                = @user.name
          %td.col-md-4
            = select_tag "managers[#{@user.id}]", options_from_collection_for_select(@users, 'id', 'name', @user.manager_id), { :prompt => 'Select Manager' }
          %td.col-md-2
            = form_for(@user, url: toggle_state_user_path(@user), method: :patch) do |f|
              = f.hidden_field :active, value: false
              = f.submit "Disable"
    .centered
      = submit_tag 'Update Manger',class: "btn btn-primary"

%h2 Reviews
= render 'reviews', user: @user
