= render 'shared/snippet_for_start'
= form_for([@review, @goal], url: (review_goals_path(@review)))  do |f|
  = render 'shared/error_messages', object: f.object
  %legend Enter Your Goals
  = f.text_area :description, placeholder: "Enter Goal?",:rows => 10,cols: 135
  %div.modal-footer
    = f.submit "Save as a draft", class: "btn btn-primary", name: "commit[-1]"
    = f.submit "Submit for approval", class: "btn btn-primary", name: "commit[-1]", data: { confirm: 'Are you sure you want to submit for approval?' }
