- provide(:title, "Feedback")
= render 'shared/goal_name'
%h2.text-center Submit Feedback
- if @review.feedback_submitted?
  = render 'shared/snippet_for_submit_feedback'
- else
  = render 'shared/snippet_for_approve'
.panel.panel-success
  .panel-heading
    %h3.panel-title Goals
  .panel-body
    #{@goal.description.gsub(/\n/, '<br/>').html_safe}
- if @goal.self_rating
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Self Rating from #{@goal.self_rating.user.name}
    .panel-body
      .star-rating
        - @goal.self_rating.total_rating.times do |i|
          %span.fa.fa-star-o{"data-rating" => (i+1)}
        %input.rating-value{:name => "self_rating", :type => "hidden", :value => @goal.self_rating.rating}/
        %span{:style => "color:black;font-weight:lighter;margin-left: 3vh"}
      %h5 #{@goal.self_rating.content.gsub(/\n/, '<br/>').html_safe}
- if @feedbacks.any?
  - @feedbacks.each do |feedback|
    - if current_user.id != feedback.user_id
      .panel.panel-primary
        .panel-heading
          %h3.panel-title Feedback from #{feedback.user.name}
        .panel-body
          #{feedback.content.gsub(/\n/, '<br/>').html_safe}
= form_tag(submit_feedback_review_goals_url([@review]),  method: :post) do |f|
  - unless @my_feedback.nil?
    %div
      %legend Enter Your Feedback
      = text_area_tag :manager_feedback, @my_feedback.content, autocomplete: "off", class: "form-control", placeholder: "Enter Feedback?", required: true, rows: 7
    %div.modal-footer
      = submit_tag "Interim Feedback", class: "btn btn-primary", name: "commit[#{@my_feedback.id}]", data: { confirm: 'Are you sure you want to submit this feedback?' }
      = submit_tag "Final Feedback", class: "btn btn-primary", name: "commit[#{@my_feedback.id}]", data: { confirm: 'Are you sure you want to submit this final feedback?' }
  - else
    %div
      %legend Enter Your Feedback
      = text_area_tag :manager_feedback, "", autocomplete: "off", class: "form-control", placeholder: "Enter Feedback?", required: true, rows: 7
    %div.modal-footer
      = submit_tag "Interim Feedback", class: "btn btn-primary", name: "commit[-1]", data: { confirm: 'Are you sure you want to submit this feedback?' }
      = submit_tag "Final Feedback", class: "btn btn-primary", name: "commit[-1]", data: { confirm: 'Are you sure you want to submit this final feedback?' }

:javascript
   var $star_rating = $('.star-rating .fa');
   var SetRatingStar = function() {
     return $star_rating.each(function() {
       if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
         return $(this).removeClass('fa-star-o').addClass('fa-star');
       } else {
         return $(this).removeClass('fa-star').addClass('fa-star-o');
       }
     });
   };

   SetRatingStar();
   $(document).ready(function() {

   });
