- provide(:title, "Add")
= render 'shared/goal_name'
- if @review.completed?
  = render 'shared/snippet_for_complete'
- elsif @review.submitted?
  = render 'shared/snippet_for_submit'
- elsif @review.feedback_submitted?
  = render 'shared/snippet_for_submit_feedback'
- else
  = render 'shared/snippet_for_approve'
.panel.panel-primary
  .panel-heading
    %h3.panel-title Goals
  .panel-body
    %h5 #{@goal.description.gsub(/\n/, '<br/>').html_safe}
- if @feedbacks.any?
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Feedback
    .panel-body
      - @feedbacks.each do |feedback|
        %h4 Feedback from #{feedback.user.name}
        %h5 #{feedback.content.gsub(/\n/, '<br/>').html_safe}
- if @review.submitted? && current_user.id != @review.user_id
  = form_tag(approve_review_goals_path(@review), method: :put)  do
    %div.modal-footer
      = submit_tag 'Approve', class: "btn btn-primary", name: "commit[-1]", data: { confirm: 'Are you sure you want to approve this goals?' }
      = submit_tag 'Reject', class: "btn btn-primary", name: "commit[-1]", data: { confirm: 'Are you sure you want to reject this goals?' }
