- provide(:title, "Add")
= render 'shared/goal_name'
- if @review.completed?
  = render 'shared/snippet_for_complete'
- elsif @review.submitted?
  = render 'shared/snippet_for_submit'
- elsif @review.feedback_submitted?
  = render 'shared/snippet_for_submit_feedback'
- else
  = render 'shared/snippet_for_approve'
%div.lable_heading
  %label{:for => "sel1"}= 'Goals'
%div.rounded
  %text_field{:for => "sel1"}= @goal.description.gsub(/\n/, '<br/>').html_safe
- if @review.feedback_submitted? || @review.completed?
  %div.lable_heading
    %label{:for => "sel1"}= 'Feedback from '+ @user.name
  %div.rounded
    %text_field{:for => "sel1"}= @goal.manager_feedback.gsub(/\n/, '<br/>').html_safe

- if @review.submitted? && current_user.id != @review.user_id
  = form_tag(approve_review_goals_path(@review), method: :put)  do
    %div.margin_top
      .centered
        = submit_tag 'Approve', class: "btn btn-primary", name: "commit"
        = submit_tag 'Reject', class: "btn btn-primary", name: "commit"
