%body
  - provide(:title, "Home")
  %h1

  - if @review_items.any?
    .table-responsive
      %table.table.table-bordered.table-striped.table-highlight
        %thead
          %th.centered Appraisal Cycle
          %th.centered Status
          %th.centered Action
        %tbody
          - @review_items.each do |review|
            %tr.centered
              %td.col-md-3
                %text_field{:for => "sel1"}= review.name
              %td.col-md-5
                %text_field{:for => "sel1"}= get_user_status(review.mode)
              %td.col-md-3
                - if review.started?
                  = link_to get_user_action(review.mode) , new_review_goal_path(review)
                - elsif review.saved?
                  = link_to get_user_action(review.mode) , edit_review_goal_path(review,review.goal)
                - else
                  = link_to get_user_action(review.mode) , review_goal_path(review,review.goal)
  - else
    .center.jumbotron
      %h1 No reviews yet!
