<% provide(:title, "Home") %>
<h1>Welcome <%= current_user.name %></h1>


<body>

<div class="row">
    <aside class="col-md-6">
    <h3>Reviews</h3>
    <% if @review_items.any? %>
        <% @review_items.each do |review| %>
            <div>
              <% if review.saved? %>
                    <%= link_to review.name , edit_review_path(review),class: "link_custom"  %>
                <% elsif review.accepted? %>
                    <%= link_to review.name , review %>
                <% else %>
                    <%= link_to review.name , review,class: "link_custom"  %>
              <% end %>
            </div>

        <% end %>
    <% else %>
        <div class="center jumbotron">
          <h1>No reviews yet!</h1>
        </div>

    <% end %>
    <% if !@review_items.any? || @review_items[@review_items.size-1].accepted? %>
    <div class="btn-space">
    <a href="reviews/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Review</a>
    </div>
    <% end %>


    </aside>

  <% if @current_user.manager &&  @users.any?%>

      <div class="col-md-4">
        <h3>Team Members</h3>

        <% @users.each do |user| %>
            <div>
              <%= link_to user.name , reviews_user_path(user) %>
            </div>

        <% end %>

         <% if current_user.admin? %>
           <div class="btn-space">
              <a href="users " class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Team Hierarchy</a>
            </div>
          <% end %>
      </div>


  <% end %>

</div>



</body>
