%body
  - provide(:title, "Home")
  %h1
    Welcome
    \#{current_user.name}
  .row
    %aside.col-md-6
      %h3 Reviews
      - if @review_items.any?
        - @review_items.each do |review|
          %div
            - if review.saved?
              = link_to review.name , edit_review_path(review),class: "link_custom"
            - elsif review.accepted?
              = link_to review.name , review
            - else
              = link_to review.name , review,class: "link_custom"
      - else
        .center.jumbotron
          %h1 No reviews yet!
      - if !@review_items.any? || @review_items[@review_items.size-1].accepted?
        .btn-space
          %a.btn.btn-primary.btn-lg.active{"aria-pressed" => "true", :href => "reviews/new", :role => "button"} Add Review
    .col-md-4
      - if @current_user.manager &&  @users.any?
        %h3 Team Members
        - @users.each do |user|
          %div
            = link_to user.name , reviews_user_path(user)
      - if current_user.admin?
        .btn-space
          %a.btn.btn-primary.btn-lg.active{"aria-pressed" => "true", :href => "users ", :role => "button"} Team Hierarchy
