


<% provide(:title, "Add") %>
<h1><%= @review.name%></h1>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-highlight">
        <thead>
        <th class="centered">S.No</th>
        <th class="centered">Goal</th>
        <th class="centered">Weightage(%)</th>

        </thead>
        <tbody>

        <% i=1 %>

        <% @goal_iteams.each do |goal| %>

            <tr class="centered">
              <td class="col-md-2"><label for="sel1"><%= i %></label></td>
              <td  class="col-md-6"> <label for="sel1"><%= goal.description %></label></td>
              <td  class="col-md-3"><label for="sel1"><%= goal.weightage %></label></td>
              <% i = i+1 %>
            </tr>
        <% end %>


        </tbody>
      </table>

          <% if !@review.accepted? && current_user.id != @review.user_id%>
              <%= form_tag(approve_goals_by_team_lead_path, method: :put)  do %>
                <div class="centered">
                    <%= submit_tag 'Approve', class: "btn btn-primary", name: "edit[#{@review.id}]" %>
                    <%= submit_tag 'Reject', class: "btn btn-primary", name: "edit[#{@review.id}]" %>
                </div>
              <% end %>


        <% end %>
    </div>
