<%= form_for @review do |f| %>

    <div class="table-responsive">
      <table class="table table-bordered table-striped table-highlight">
        <thead>
        <th class="centered"> S.No</th>
        <th class="centered">Goal</th>
        <th class="centered">Weightage(%)</th>

        </thead>
        <tbody>

        <% i=1 %>

        <%= f.fields_for :goals do |ff| %>

            <tr class="centered">
              <td class="col-md-2"><label for="sel1"><%= i %></label></td>
              <td  class="col-md-6">  <%= ff.text_area :description, placeholder: "Enter Goal?",:rows => 6,cols: 70, :required => true %></td>
              <td  class="col-md-3"><%= ff.number_field :weightage, max: 40, min: 10  , placeholder: "Weightage", :required => 'required', class: "number_field_cstom centered"%></td>
              <% i = i+1 %>
            </tr>
        <% end %>


        </tbody>
      </table>
    </div>


    <div class="centered btn-space">
      <%= f.submit "Save", class: "btn btn-primary", name: "commit" %>
      <%= f.submit "Submit", class: "btn btn-primary", name: "commit"%>
    </div>

<% end %>
